/* reset */

*,
*::after,
*::before {
 box-sizing: border-box;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

html {
    height: 100%;
}
body {
    background-color: #000;
    height: 100%;
    font-family: 'EB Garamond', serif;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden; 
}

.header {
    display:none;
}


/* Nav bar */

.nav {
    background-color: #fff;
    min-height: 8vh;
    position: fixed;
    top: 0;
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.nav__ul {
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 9.4vh;
    height: 50vh;
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.3s ease-in;
}

.nav-active {
    transform: translate(0%);
}

.nav__ul li {
    font-size: 18px;
    padding: 10px 5px 30px 10px;
    
}

.nav__ul a:link,
.nav__ul a:visited {
    color: #F52401;
    text-decoration: none;
    
}

.nav__ul a:hover {
    color:#000;
}

/*Burger*/

.nav__burger {
    margin: 3vh;
}

.burger__line1,
.burger__line2,
.burger__line3 {
    width: 24px;
    height: 3px;
    margin: 5px;
    background-color: #F52401;
}

/* Burger animation*/
.nav__burger.open .burger__line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.nav__burger.open .burger__line2 {
    transform: translateX(-10px);
    opacity: 0;    
}

.nav__burger.open .burger__line3 {
    transform: rotate(45deg) translate(-5px, -6px);

}


/* main*/

.main {
    margin-top: 8vh;
    min-height: 100%;
}

.main__title {
    background-image: url(../images/fondo-titulo.jpg);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.title__h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 3px;
}

.title__p {
    color: #F52401;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

/*main info*/

.main__info {
    background-color: #C71700;
    margin-bottom: 80px;
    width: 100%;
    height: auto;
}

.info__zone {
    padding:15px;
    overflow-wrap: break-word;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info__zone h2 {
    font-size: 30px;
    color: #fff;
    
}

.info__zone p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
}

.bar {
    width: 65px;
    height: 5px;
    background-color: #000;
    border-radius: 5px;
}

.container__map {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 15px;
}

.container__map h2 {
    font-size: 30px;
    color: #fff;
}

.container__map p {
    font-size: 25px;
    color: #fff;
}

.map {
    max-width: 75%;
    height: 300px;   
}

/*Footer*/

.footer {
    width: 100%;
    background-color: #fff;
}

.footer__links { 
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-weight: bold;
    overflow-wrap: break-word;
}

.footer__links a:link,
.footer__links a:visited {
    color: #F52401;
    text-decoration: none;
    padding: 4px;
}

.footer__links a:hover {
    color:#000;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
/* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    /*Nav tablet*/

    

    .nav__burger {
        display: none;
    }

    .nav__ul {
    position: relative;
    right: 55%;
    top: 4vh;
    height: 5vh;
    width: 45%;
    background-color: initial;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    .nav__ul li {
        font-size: 20px;
        padding: 0px 15px 10px 5px;
    }

    /*Main Tablet*/

    .main__title h1 {
        font-size: 42px;  
    }
    
    .main__title p {
        font-size: 25px;
    }

    .main__info {
        padding: 3px;
    }

    .info__zone h2 {
        font-size: 30px;
    }
    
    .info__zone p {
        font-size: 24px;
        
    }

    /*footer tablet */
    .footer__links {
        font-size: 20px;
    }
    
}
  
@media only screen and (min-width: 768px) {
/* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /*header desktop*/

    .nav__ul {
        right: 50%;
    }

    .nav__ul li {
        font-size: 24px;
    }

    /* Main desktop*/

    .main__title h1 {
        font-size: 50px;  
    }

    .info__zone {
        gap: 20px;

    }
}




